*,
*::before,
*::after {
    box-sizing: inherit;
}

.text_blue {
    color:rgb(2 0 149);
}

.icon_link--header_pos {
    position: absolute;
    top: 15%;
    right: 3%;
}

.icon_link {
    line-height: 0px;
}

.icon_link__icon_size {
    width: 30px;
    height: 30px;
}

.icon_link__icon_color {
    fill: #4815b9;
    transition: all ease 0.3s;
}

.icon_link__icon_color:hover {
    fill: #154eb9;
}

body {
    box-sizing: border-box;
    margin: 0;
    min-width: 320px;
    display: flex;              /* флекс бокс */
    flex-direction: column;
    align-items: center;
    justify-content: center;    /* все элементы внутри выстраиваем по центру */
    width: 100vw;               /* (чтоб на ширину не влиял скролл) ширина 100% экрана */
}

.header {
    width: 95%;
    background-color: rgb(136, 202, 136);
    max-width: 1000px;
    margin-top: 10px;
    position: relative;
}

.main {
    background-color: rgb(136, 202, 136);
    padding: 10px;
    overflow: hidden;
    width: 95%;                 /* задаем ширину */
    max-width: 1000px;          /* максимальная ширина */
}

.horisontal_line {
    margin: 10px 0px 23px 0px;
    border: none;
    height: 1px;
    width: 100%;
    background-color: #0e0e0e;
}

.header__head {
    margin: 10px 0;
    text-align: center;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
}

.menu {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 10px;
    padding: 0 0 0 10px;
    margin: 0;
}

.js-file_uploader {
    width: fit-content
}

.btn_filter_qr {
    width: fit-content;
}

.btn_download {
    width: fit-content;
}

.text_in_file {
    background-color: rgb(243, 243, 243);
    margin-top: 10px;
    margin-left: 20px;
    overflow: auto;
}

.text_in_file__text {
    margin: 0;
    padding: 10px;
  /*  width: fit-content;*/
}

.text_in_file__container:nth-child(n + 2) {
    border-top: 3px solid black;
}

.file_info {
    width: 50%;
    background-color: rgb(243, 243, 243);
    padding: 10px;
    margin: 20px 0 10px 20px;
    overflow: hidden;
}

.file_info p {
    margin: 0;
    padding: 0;
}

.handle_decompile {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.deactivated {
    opacity: 65%;
    cursor: no-drop;
    pointer-events: none;
}

.svg_sprait {
    display: none;
}