*,
*::before,
*::after {
    box-sizing: inherit;
}

.text_blue {
    color:rgb(2 0 149);
}

.visually_hidden {                /* скрывает блок вместе с содержимим */
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.def_btn {
    min-width: 150px;
    width: fit-content;
    padding: 3px 8px 3px 8px;
    background-color: #f0f0f0;
    font-family: sans-serif;
    font-size: 13px;
    text-align: center;
    border-radius: 6px;
    border-width: 1px;
    border-style: double;
    border-color: #444444;
}

.def_btn:hover {
    background-color: #e3e3e3;
}

.def_btn:active {
    background-color: #dbdbdb;
    border-color: #707070;
}

.deactivated {
    opacity: 65%;
    border-color: #44444486;
    cursor: no-drop;
    pointer-events: none;
}

/*/////////////////////////////////////////////////////////////////////////////////*/

.icon_link--header_pos {

}

.icon_link {
    line-height: 0px;
}

.icon_link__icon_size {
    width: 30px;
    height: 30px;
}

.icon_link__icon_color {
    fill: #ffffff;
    transition: all ease 0.3s;
}

.icon_link__icon_color:hover {
    fill: #6be127;
}

body {
    box-sizing: border-box;
    margin: 0;
    min-width: 320px;
   /* display: flex;              /* флекс бокс */
   /* flex-direction: column;*/
  /*  align-items: center;*/
   /* justify-content: center; */   /* все элементы внутри выстраиваем по центру */
    width: 100vw;               /* (чтоб на ширину не влиял скролл) ширина 100% экрана */
    min-height: 100vh;
    overflow-x: hidden;

    display: grid;
    justify-items: center;
    grid-template-rows: 0fr auto 0fr;;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    grid-template-areas: "grid_header"
                         "grid_main"
                         "grid_footer";

}

.header {
    width: 95%;
    background-color: rgb(136, 202, 136);
    max-width: 1000px;
    margin-top: 10px;
    position: relative;
    grid-area: grid_header;
    align-self: start;
}

.main {
    background-color: rgb(136, 202, 136);
    padding: 0 10px 10px 10px;
    margin-bottom: 20px;
    overflow: hidden;
    width: 95%;                 /* задаем ширину */
    max-width: 1000px;          /* максимальная ширина */
    grid-area: grid_main;
    align-self: start;
}

.horisontal_line {
    margin: 10px 0px 23px 0px;
    border: none;
    height: 1px;
    width: 100%;
    background-color: #0e0e0e;
}

.header__head {
    margin: 10px 0;
    text-align: center;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
}

.menu {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 10px;
    padding: 0 0 0 10px;
    margin: 0;
}

/*//////////// кнопки для загрузки фаила ///////////////////*/

.js-file_uploader {
    width: fit-content
}

#id_file_uploader {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
    z-index: -10;
}

#id_file_uploader:focus + label {
    outline-width: 1px;
    outline-style: auto;
}

/*//////////////////////////*/

.btn_filter_qr {
    width: fit-content;
}

.btn_download {
    width: fit-content;
}

.text_in_file {
    background-color: rgb(243, 243, 243);
    margin-top: 10px;
    margin-left: 20px;
    overflow: auto;
    outline-style: solid;
    outline-color: black;
    outline-width: 1px;
}

.text_in_file__text {
    margin: 0;
    padding: 10px;
    max-height: 50.0vh;
}

/*.text_in_file__container:nth-child(n + 2) {*/ /* nth-child захватывает все элементы его родителя */
.text_in_file__container:nth-of-type(n + 2) {   /* nth-of-type захватывает только эти элементы в общем родителе */
    border-top: 3px solid black;    
}

.file_info {
    width: 50%;
    background-color: rgb(243, 243, 243);
    padding: 10px;
    margin: 20px 0 10px 20px;
    overflow: hidden;
    outline-style: solid;
    outline-color: black;
    outline-width: 1px;
}

.file_info p {
    margin: 0;
    padding: 0;
}

.file_info__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100%);
}

.handle_decompile {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.footer {
    background-color: #464646;
    width: 100%;
    min-height: 60px;
    grid-area: grid_footer;
    align-self: end;
    display: flex;
    padding: 10px 30px;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.svg_sprait {
    display: none;
}