.modal_qr_preview {
    border-radius: 7px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    background-color: rgb(231, 231, 231);
    //   opacity: 0%;
    position: fixed;
    line-height: 0;
    padding: 3px;
    display: none;

    &__vieport {
        border-radius: 7px;
    }
}
