/*-------раскрывающийся текст [addon_spoiler]--------------------------------------------------*/

.js-addon_spoiler,
.js-addon_spoiler--active {
    /* открытый и закрытый спойлер */
    transition: all 0.3s ease-out;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    color: black;
}

.addon_spoiler_heder {
    /* заголовок, состояние - общий и закрытый */
    cursor: pointer;
    column-gap: 10px;
    padding-left: 5px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    background-color: rgb(231 231 231);
    transition: all 0.3s ease-out;
    transition: border 0.1s ease-out;
}

.addon_spoiler_heder:focus {
    /* выбронный заголовок */
}

.js-addon_spoiler:hover > .addon_spoiler_heder {
    /* заголовок, состояние - наведение на закрытый */
    background-color: rgb(202, 202, 202);
}

.addon_spoiler_body {
    /* содержание, состояние - общий и закрытый */
    background-color: rgb(231, 231, 231);
    overflow: hidden;
    max-height: 0px;
    padding-left: 20px;
    transition: all 0.3s ease-out;
}

.addon_spoiler_indicator {
    /* индикатор, состояние - общий и закрытый */
    width: 1em;
    height: 1em;
    color: transparent;
    background: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjM0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIzNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC41OSAxNi4zNGw0LjU4LTQuNTktNC41OC00LjU5TDEwIDUuNzVsNiA2LTYgNnoiLz48L3N2Zz4=")
        no-repeat 50% 50% / 1em 1em;
    font-size: 1.8em;
    transition: transform 0.5s;
}

.js-addon_spoiler--active {
    /* открытый спойлер */
}

.js-addon_spoiler--active > .addon_spoiler_heder .addon_spoiler_indicator {
    /* индикатор, состояние - открытый */
    transform: rotateZ(90deg);
}

.js-addon_spoiler--active > .addon_spoiler_heder {
    /* заголовок, состояние - открытый  */
    background-color: rgb(202, 202, 202);
}

.js-addon_spoiler--active > .addon_spoiler_body {
    /* содержание, состояние - открытый  */
    max-height: 0px;
}
